.container {
  width: 600px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  text-align: center;
  font-size: 33px;
  font-family: arial;
  color: white;
}

.container .input-field {
  position: relative;
  margin: 50px auto;
  width: center;
  height: 50px;
}

.input-field input {
  width: 350px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px;
}

.input-field input::placeholder {
  color: white;
}

.input-field .icon {
  position: absolute;
  right: 95px;
  top: 25px;
  transform: translateY(-50%);
  font-size: 15px;
  color: black;
}
.container button {
  width: 120px;
  height: 38px;
  background-color: white;
  border: none;
  text-align: 35px;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 200;
  text-shadow: none;
  cursor: pointer;
  margin-top: 80px;
}
