.AppointmentTime {
  width: 350px;
  height: 80px;
  background-color: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 0 50px 0 20px;
  line-height: 50px;
}

.InputWrapper {
  position: relative;
  width: 350px;
  height: 75px;
}
