.AppointmentTime {
  width: 350px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px;
  position: relative;
  left: 50px;
  top: auto;
}
