* {
    margin: 0;
    padding: 0;
    font-family:helvetica;
    box-sizing: border-box;
    text-shadow:black 1px 1px;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("image/BackgroundImage/aperto-de-mao-dos-homens-de-negocios.jpg");
    background-size:cover;
    background-position: center;

}
